/* ~~~~~~~ INIT. btn_page ~~~~~~~ */

.btn_page {		
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 2em;
	position: relative;	
	padding: 15px 25px;
	color: #000;
    letter-spacing: 1.1rem;
    text-align: center;
	text-transform: uppercase;
	transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
    user-select: none;
    width: 500px;
    margin-top: 50px;
}

.btn_page:before, .btn_page:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn_page:hover {
	color: #fff;
	transition-delay: .6s;
}

.btn_page:hover:before {
	transition-delay: 0s;
}

.btn_page:hover:after {
	background: #000;
	transition-delay: .4s;
}

/* From Left */

.from-left:before, 
.from-left:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-left:before {
	right: 0;
	border: 1px solid #000;
	border-left: 0;
	border-right: 0;	
}

.from-left:after {
	left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100%;
}