
@import "mixin";
@import "variables";


/* Menu */

#menu_block {
    height: 90px;
    @include box-shadow($box-shadow);    
}

/* --- End Menu --- */


.catalog_wrapper {
    position: relative;
    height: 650px;
    background-color: pink;
    margin-top: 200px;
    padding-top: 25px;
    overflow: hidden;
}

.side_block {
    background-color: greenyellow;
    width: 1000px;
    height: 600px;
    position: absolute;
    
    @include transition(all,1s);
}

.side_block_left {
    left: 0;

    @extend .side_block;
    @include block_clip($polygon-left);
}

.side_block_right {
    right: 0;

    @extend .side_block;
    @include block_clip($polygon-right);
}

.hide_left {
    opacity: 0;
    left: -100%;
}

.show_left {
    opacity:1;
    left:0;
}

.hide_right {
    opacity: 0;
    right: -100%;
}

.show_right {
    opacity:1;
    right:0;
}
