/* Clip-path polygon */
/* Colors */
/* Fonts */
/* Others variables */
/* Main elements */
#page-wrapper {
  margin-bottom: 200px;
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 3em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 100px;
}

h4 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  font-weight: 300;
}

.line {
  border: 2px solid #000;
  display: block;
  width: 70px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  margin-right: 100px;
}

.title_container {
  filter: drop-shadow(0px 5px 5px rgba(22, 22, 31, 0.17));
  z-index: 10;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.title_container_right {
  filter: drop-shadow(0px 5px 5px rgba(22, 22, 31, 0.17));
  z-index: 10;
  position: relative;
  top: 0;
  right: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.title_section, .straight_title, .right_title {
  position: relative;
  height: 170px;
  background-color: #fdead5;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
  padding-top: 60px;
}

.straight_title {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.right_title {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 67%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 67%);
  padding-top: 35px;
}

.right_title .line {
  margin-top: -30px;
}

a.page_btn {
  background-color: #fdead5;
  box-shadow: 0 3px 9px 3px rgba(22, 22, 31, 0.17);
  color: #000000;
  display: block;
  font-family: "Cormorant Garamond", serif;
  font-size: 2em;
  font-weight: 600;
  position: absolute;
  padding: 15px 15px;
  width: 400px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  left: 50%;
  margin-left: -200px;
  bottom: -33px;
}

a.page_btn:hover {
  transform: scale(1.05);
}

a.test_btn {
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  color: #000000;
  display: block;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 3em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 100px;
  padding: 5px 15px;
  width: 500px;
  text-align: center;
  text-decoration: none;
}

/* --- End Main elements --- */
/* Menu */
#menu_block {
  height: 90px;
  -webkit-box-shadow: 0 3px 9px 3px rgba(22, 22, 31, 0.17);
  -moz-box-shadow: 0 3px 9px 3px rgba(22, 22, 31, 0.17);
  -ms-box-shadow: 0 3px 9px 3px rgba(22, 22, 31, 0.17);
  box-shadow: 0 3px 9px 3px rgba(22, 22, 31, 0.17);
  padding-top: 20px;
  position: relative;
}

#menu_block .line {
  border-color: #fdead5;
}

.right_column {
  text-align: right;
  padding-right: 150px;
}

.right_column h4 {
  display: inline-block;
  margin-right: 20px;
}

a.header_btn {
  border: 2px solid #000;
  color: #000000;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1.7em;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  width: 225px;
}

/* --- End Menu --- */
/* Header section */
#header_section {
  background-image: url("../img/header_section/src/1.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 850px;
  position: relative;
}

.header_section_block {
  background: #ffffff;
  box-shadow: 0 3px 9px 3px rgba(22, 22, 31, 0.17);
  width: 550px;
  height: 450px;
  padding-top: 75px;
  position: absolute;
  top: 90px;
  right: 200px;
}

.header_section_block img {
  margin: 0 auto;
}

/* --- End Header section --- */
/* Product section */
.product_wrapper, .advantages_wrapper, .product_wrapper_projects {
  position: relative;
  height: 870px;
  overflow: hidden;
}

.advantages_wrapper {
  height: 1100px;
}

.product_wrapper_projects {
  height: 675px;
}

.catalog_wrapper, .advantages_catalog_wrapper, .catalog_wrapper_projects {
  width: 100%;
  height: 900px;
  z-index: 1;
  position: absolute;
  top: 0;
}

.advantages_catalog_wrapper {
  height: 1100px;
}

.catalog_wrapper_projects {
  height: 675px;
}

.catalog, .advantages_catalog, .catalog_bottom, .catalog_projects {
  position: relative;
  height: 900px;
  padding-top: 25px;
  overflow: hidden;
}

.advantages_catalog {
  height: 1100px;
}

.catalog_bottom {
  background-image: url("../img/product_section/src/1.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.catalog_projects {
  background-image: url("../img/product_section/src/3.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 675px;
}

.side_block, .side_block_left, .side_block_right {
  background-color: transparent;
  width: 1000px;
  height: 850px;
  position: absolute;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.side_block_left {
  background-image: url("../img/product_section/src/1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  left: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 67% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 67% 100%, 0% 100%);
}

#left_block_bottom.side_block_left {
  background-image: url("../img/product_section/src/3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

.side_block_right {
  background-image: url("../img/product_section/src/2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  right: 0;
  -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

.hide_left {
  opacity: 0;
  left: -100%;
}

.show_left {
  opacity: 1;
  left: 0;
}

.hide_right {
  opacity: 0;
  right: -100%;
}

.show_right {
  opacity: 1;
  right: 0;
}

.catalog_content_block, .catalog_content_block_left, .catalog_content_block_right {
  position: absolute;
  max-width: 676px;
}

.catalog_content_block_left {
  top: 250px;
  left: 120px;
  margin-right: -340px;
}

.catalog_content_block_right {
  top: 250px;
  right: 120px;
  margin-left: -340px;
}

.content_block {
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -110px;
  margin-left: -365px;
  width: 730px;
  height: 220px;
  padding: 60px;
  text-align: center;
}

.straight_side_block_left {
  background-image: url("../img/product_section/src/2.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 690px;
  height: 1100px;
  position: absolute;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.straight_side_block_right {
  width: 930px;
  position: absolute;
  right: 120px;
  top: 250px;
  height: 800px;
}

.advantages_article {
  clear: both;
}

.advantages_number {
  color: #fdead5;
  display: block;
  font-family: "EB Garamond", serif;
  font-size: 7em;
  font-weight: 300;
  float: left;
  margin-right: 30px;
  margin-bottom: -15px;
}

.advantages_number.custum_height {
  height: 205px;
}

.advantages_content {
  padding-top: 30px;
  width: 930px;
}

.advantages_content h2 {
  margin-left: 0;
  font-weight: 400;
  text-transform: none;
}

.advantages_content p {
  font-size: 1.8em;
}

/* --- End Product section --- */
/* Crousel Section */
#owl-1 {
  padding: 10px;
}

#owl-1 h2 {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  margin-left: 0;
  margin-bottom: 40px;
}

.carousel_content {
  margin-bottom: 50px;
}

.left_img {
  float: left;
  margin-right: 20px;
}

.right_img img {
  margin-bottom: 20px;
}

a.carousel_btn {
  background-color: #fdead5;
  box-shadow: 0 3px 9px 3px rgba(22, 22, 31, 0.17);
  color: #000000;
  display: block;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5em;
  font-weight: 600;
  position: absolute;
  right: 85px;
  padding: 3px 15px;
  width: 530px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

/* --- End Crousel Section --- */
/*# sourceMappingURL=main.css.map */