
@import "mixin";
@import "variables";

/* Main elements */


h2 {
    font-family: $title_font;
    font-weight: 700;
    font-size: 3em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 100px;
}

h4 {
    color: $page_font_color;
    font-family: $content_font;
    font-size: 1.8em;
    font-weight: 400;
}

p {
    font-family: $content_font;
    font-size: 2em;
    font-weight: 300;
}

.line {
    border: 2px solid #000;
    display: block;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    margin-right: 100px;
}

.title_container {
    filter: drop-shadow(0px 5px 5px rgba(22,22,31,.17));
    z-index: 10;
    position: relative;
    top: 0;
    left: 0;
    @include transition(all,1s);
}

.title_section {
    position: relative;
    height: 170px;
    background-color: $title_bg;
    @include block_clip($title-section-polygon);
    padding-top: 60px;
}

a.page_btn {
    background-color: $title_bg;
    box-shadow: $box-shadow;
    color: $page_font_color;
    display: block;
    font-family: $title_font;
    font-size: 2em;
    font-weight: 600;
    position: absolute;
    padding: 15px 15px;
    width: 400px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    @include transition(all,1s);
    left: 50%;
    margin-left: -200px;
    bottom: -33px;
}

a.page_btn:hover {
    transform: scale(1.05);
}

a.test_btn {
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    color: $page_font_color;
    display: block;
    font-family: $title_font;
    font-weight: 700;
    font-size: 3em;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 100px;
    padding: 5px 15px;
    width: 500px;
    text-align: center;
    text-decoration: none;
}

/* --- End Main elements --- */


/* Menu */

#menu_block {
    height: 90px;
    @include box-shadow($box-shadow);
    padding-top: 20px;
    position: relative;    
}

#menu_block .line {
    border-color: $title_bg;
    box-shadow: $box-shadow;
}

.right_column {
    text-align: right;   
    padding-right: 150px;
}

.right_column h4 {
    display: inline-block;
    margin-right: 20px;
}

a.header_btn {
    border: 2px solid #000;
    color: $page_font_color;
    display: inline-block;
    font-family: $content_font;
    font-size: 1.7em;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
    width: 225px;
}

/* --- End Menu --- */


/* Header section */

#header_section {
    background-image: url("../img/header_section/src/1.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 850px;
    position: relative;
}

.header_section_block {
    background: $block_bg;
    box-shadow: $box-shadow;
    width: 550px;
    height: 450px;
    padding-top: 75px;
    position: absolute;
    top: 90px;
    right: 200px;
}

.header_section_block img {
    margin: 0 auto;
}

/* --- End Header section --- */


/* Product section */

.product_wrapper {
    position: relative;
    height: 870px;
}

.catalog_wrapper {
    width: 100%;
    height: 900px;
    z-index: 1;
    position: absolute;
    top: 0;
}

.catalog {
    position: relative;
    height: 900px;
    padding-top: 25px;
    overflow: hidden;
}

.side_block {
    background-color: transparent;
    width: 1000px;
    height: 850px;
    position: absolute;
    @include transition(all,2s);
}

.side_block_left {
    background-image: url("../img/header_section/src/1.png");
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    @extend .side_block;
    @include block_clip($polygon-left);
}

.side_block_right {
    background-image: url("../img/header_section/src/1.png");
    background-position: center center;
    background-repeat: no-repeat;
    right: 0;
    @extend .side_block;
    @include block_clip($polygon-right);
}

.hide_left {
    opacity: 0;
    left: -100%;
}

.show_left {
    opacity:1;
    left:0;
}

.hide_right {
    opacity: 0;
    right: -100%;
}

.show_right {
    opacity:1;
    right:0;
}

.catalog_content_block {
    position: absolute;
    max-width: 676px;
}

.catalog_content_block_left {
    @extend .catalog_content_block;
    top: 250px;
    left: 120px;
    margin-right: -340px;
 }

 .catalog_content_block_right {
    @extend .catalog_content_block;
    top: 250px;
    right: 120px;
    margin-left: -340px;
 }



/* --- End Product section --- */