
@media screen and (max-width: 1700px) {

    #menu_block {
        padding-top: 22px;
    }

    h2 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.7em;
    }

    .header_side_block {
        width: 450px;
    }

    .header_side_block p {
        font-size: 1.2em;
        width: 350px;
    }

    a.page_btn {
        font-size: 1.4em;
        width: 300px;
        left: 50%;
        margin-left: -150px;
        bottom: -27px;
    }

    .header_side_block .page_btn {
        margin: 50px auto;
        width: 300px;
        font-size: 1.4em;
    }

    .title_section, .straight_title, .right_title {
        height: 150px;
        padding-top: 55px;
    }

    .right_title {
        height: 150px;
        padding-top: 27px;
    }

    .catalog_wrapper, .advantages_catalog_wrapper, .catalog_wrapper_projects {
        height: 830px;
    }

    .catalog, .advantages_catalog, .catalog_bottom, .catalog_projects {
        height: 830px;
    }

    .product_wrapper, .advantages_wrapper, .product_wrapper_projects {
        height: 825px;
    }

    .side_block, .side_block_left, .side_block_right {
        background-color: transparent;
        width: 850px;
        height: 800px;
    }

    .catalog_content_block_right {
        top: 250px;
        right: 65px;
        margin-left: -340px;
    }

    .straight_side_block_right {
        width: 750px;
        right: 120px;
        top: 180px;
        height: 800px;
    }

    .straight_side_block_left {
        width: 650px;
    }

    .catalog_content_block, .catalog_content_block_left, .catalog_content_block_right {
        max-width: 630px;
    }

    .advantages_content {
        padding-top: 20px;
        width: 750px;
    }

    .advantages_number {
        font-size: 5em;
    }

    .advantages_number.custum_height {
        height: 160px;
    }

    .advantages_content p {
        font-size: 1.2em;
    }

    .product_wrapper_projects {
        height: 675px;
    }

    .catalog_wrapper_projects {
        height: 675px;
    }

    .catalog_projects {
        height: 675px;
    }

}


@media screen and (max-width: 1560px) {

    p {
        font-size: 1.4em;
    }

    a.btn_page {
        font-size: 1.5em;
    }

    .right_title .line {
        margin-top: -25px;
    }

    .title_section, .straight_title, .right_title {
        height: 140px;
        padding-top: 50px;
    }

    .right_title {
        height: 140px;
        padding-top: 27px;
    }

    .catalog_wrapper, .advantages_catalog_wrapper, .catalog_wrapper_projects {
        height: 780px;
    }

    .catalog, .advantages_catalog, .catalog_bottom, .catalog_projects {
        height: 780px;
    }

    .product_wrapper, .advantages_wrapper, .product_wrapper_projects {
        height: 770px;
    }

    .side_block, .side_block_left, .side_block_right {
        width: 800px;
        height: 750px;
    }

    .catalog_content_block_right {
        top: 250px;
        right: 50px;
        margin-left: -340px;
    }

    .straight_side_block_right {
        width: 750px;
        right: 120px;
        top: 180px;
        height: 800px;
    }

    .straight_side_block_left {
        width: 600px;
    }

    .product_wrapper_projects {
        height: 675px;
    }

    .catalog_wrapper_projects {
        height: 675px;
    }

    .catalog_projects {
        height: 675px;
    }


    #footer_section #upper_title {
        margin-left: -115px;
    }
}


@media screen and (max-width: 1450px) {

    .header_side_block {
        width: 400px;
    }

    .overlay-navigation nav ul {
        background-image: url("../img/main_img/3.jpg");
      }

    h2 {
        font-size: 2.3em;
    }

    p {
        font-size: 1.3em;
    }

    a.btn_page {
        font-size: 1.5em;
    }

    .title_section, .straight_title, .right_title {
        height: 140px;
        padding-top: 50px;
    }

    .right_title {
        height: 140px;
        padding-top: 28px;
    }

    .catalog_wrapper, .advantages_catalog_wrapper, .catalog_wrapper_projects {
        height: 730px;
    }

    .catalog, .advantages_catalog, .catalog_bottom, .catalog_projects {
        height: 730px;
    }

    .product_wrapper, .advantages_wrapper, .product_wrapper_projects {
        height: 720px;
    }

    .side_block, .side_block_left, .side_block_right {
        width: 730px;
        height: 700px;
    }

    .catalog_content_block, .catalog_content_block_left, .catalog_content_block_right {
        max-width: 590px;
    }

    .catalog_content_block_right {
        top: 260px;
        right: 35px;
        margin-left: -340px;
    }

    .catalog_content_block_left {
        top: 250px;
        left: 35px;
        margin-right: -340px;
    }

    .straight_side_block_right {
        width: 700px;
        right: 25px;
        top: 135px;
        height: 550px;
    }

    .advantages_content {
        width: 700px;
    }

    .straight_side_block_left {
        width: 550px;
    }

    .product_wrapper_projects {
        height: 675px;
    }

    .catalog_wrapper_projects {
        height: 675px;
    }

    .catalog_projects {
        height: 675px;
    }


    #footer_section #upper_title {
        margin-left: -115px;
    }
}


@media screen and (max-width: 1300px) {

    .overlay-navigation nav ul {
        background-image: url("../img/main_img/4.jpg");
    }

    .side_block, .side_block_left, .side_block_right {
        width: 670px;
        height: 700px;
    }

    .catalog_content_block, .catalog_content_block_left, .catalog_content_block_right {
        max-width: 510px;
    }

    .straight_side_block_right {
        width: 600px;
        right: 25px;
        top: 135px;
        height: 550px;
    }

    .advantages_content {
        width: 600px;
    }

}

@media screen and (max-width: 1150px) {

    h4 {
        font-size: 1.5em;
    }

    a.header_btn {
        border: 2px solid #000;
        font-size: 1.5em;
        margin-left: 20px;
        width: 150px;
    }

    .open-overlay {
        right: 5rem;
        top: -5px;
        width: 34px;
    }

    p {
        font-size: 1.1em;
    }

    .content_block p {
        font-size: 1.5em;
    }

    .advantages_content p {
        font-size: 1.1em;
    }

    .side_block, .side_block_left, .side_block_right {
        width: 670px;
        height: 700px;
    }

    .catalog_content_block, .catalog_content_block_left, .catalog_content_block_right {
        max-width: 450px;
    }

    .straight_side_block_right {
        width: 600px;
        right: 25px;
        top: 135px;
        height: 550px;
    }

    .advantages_content {
        width: 600px;
    }

    a.btn_page {
        font-size: 1.2em;
        width: 400px;
    }

    .straight_side_block_left {
        width: 490px;
    }

}


@media screen and (max-width: 1100px) {

    h2 {
        font-size: 2.1em;
    }

    #menu_block .col-lg-5 {
        padding-top: 6px;
    }

    .overlay-navigation nav ul {
        background-image: url("../img/main_img/5.jpg");
    }

    #header_section {
        height: 700px;
    }

    .header_side_block img {
        margin: 80px auto;
    }

    .header_side_block {
        width: 350px;
    }

    .header_side_block p {
        font-size: 1em;
        width: 300px;
    }

    .title_section, .straight_title, .right_title {
        height: 120px;
        padding-top: 43px;
    }

    .right_title {
        height: 120px;
        padding-top: 20px;
    }

    .side_block, .side_block_left, .side_block_right {
        width: 550px;
        height: 700px;
    }

    .straight_side_block_left {
        width: 390px;
    }

    .catalog_content_block, .catalog_content_block_left, .catalog_content_block_right {
        max-width: 400px;
    }

    .catalog_content_block_right {
        top: 240px;
        right: 35px;
        margin-left: -340px;
    }

    .straight_side_block_right {
        width: 550px;
        right: 25px;
        top: 135px;
        height: 550px;
    }

    .advantages_content {
        width: 550px;
    }

}

@media screen and (max-width: 980px) {

    #menu_block .line {
        margin-top: 2px;
    }

    h2 {
        font-size: 1.9em;
    }

    .right_column {
        text-align: right;
        padding-right: 110px;
    }

    h4 {
        font-size: 1.3em;
    }

    a.header_btn {
        border: 2px solid #000;
        font-size: 1.3em;
        margin-left: 20px;
        width: 120px;
    }

    .open-overlay {
        right: 5rem;
        top: -3px;
        width: 30px;
    }

    .open-overlay span {
        margin-top: 10px;
    }

    .overlay-navigation nav ul {
        background-image: url("../img/main_img/6.jpg");
    }

    .header_side_block {
        width: 300px;
    }

    .header_side_block p {
        font-size: 1em;
        width: 250px;
    }

    .header_side_block .page_btn {
        margin: 50px auto;
        width: 250px;
        font-size: 1.2em;
    }

    .right_title .line {
        margin-top: -22px;
    }

    .right_title {
        height: 120px;
        padding-top: 24px;
    }

    .advantages_content p {
        font-size: 1em;
    }

    .straight_side_block_right {
        width: 500px;
    }

    .advantages_content {
        width: 500px;
    }

    #footer_section #upper_title {
        margin-left: -88px;
    }

}

@media screen and (max-width: 950px) {

    .product_wrapper, .advantages_wrapper, .product_wrapper_projects {
        height: 1120px;
    }

    .catalog_wrapper, .advantages_catalog_wrapper, .catalog_wrapper_projects {
        height: 1150px;
    }

    .catalog, .advantages_catalog, .catalog_bottom, .catalog_projects {
        height: 1150px;
    }

    .side_block, .side_block_left, .side_block_right {
        position: static;
        width: 100%;
    }

    .catalog_content_block_right, .catalog_content_block_left {
        position: static;
        margin-left: 0;
        margin-right: 0;
    }

}
