
@media screen and (max-width: 1700px) {

    #menu_block {
        padding-top: 22px;
    }

    h2 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.7em;
    }

    .header_side_block {
        width: 450px;
    }

    .header_side_block p {
        font-size: 1.2em;
        width: 350px;
    }

    a.page_btn {
        font-size: 1.4em;
        width: 300px;
        left: 50%;
        margin-left: -150px;
        bottom: -27px;
    }

    .header_side_block .page_btn {
        margin: 50px auto;
        width: 300px;
        font-size: 1.4em;
    }

    .title_section, .straight_title, .right_title {
        height: 150px;
        padding-top: 55px;
    }

    .right_title {
        height: 150px;
        padding-top: 27px;
    }

    .catalog_wrapper, .advantages_catalog_wrapper, .catalog_wrapper_projects {
        height: 830px;
    }

    .catalog, .advantages_catalog, .catalog_bottom, .catalog_projects {
        height: 830px;
    }

    .product_wrapper, .advantages_wrapper, .product_wrapper_projects {
        height: 825px;
    }

    .side_block, .side_block_left, .side_block_right {
        background-color: transparent;
        width: 850px;
        height: 800px;
    }

    .catalog_content_block_right {
        top: 250px;
        right: 65px;
        margin-left: -340px;
    }

    .straight_side_block_right {
        width: 750px;
        right: 120px;
        top: 180px;
        height: 800px;
    }

    .straight_side_block_left {
        width: 650px;
    }

    .catalog_content_block, .catalog_content_block_left, .catalog_content_block_right {
        max-width: 630px;
    }

    .advantages_content {
        padding-top: 20px;
        width: 750px;
    }

    .advantages_number {
        font-size: 5em;
    }

    .advantages_number.custum_height {
        height: 160px;
    }

    .advantages_content p {
        font-size: 1.2em;
    }

    .product_wrapper_projects {
        height: 675px;
    }

    .catalog_wrapper_projects {
        height: 675px;
    }

    .catalog_projects {
        height: 675px;
    }

}


@media screen and (max-width: 1560px) {

    p {
        font-size: 1.4em;
    }

    a.btn_page {
        font-size: 1.5em;
    }

    .right_title .line {
        margin-top: -25px;
    }

    .title_section, .straight_title, .right_title {
        height: 140px;
        padding-top: 50px;
    }

    .right_title {
        height: 140px;
        padding-top: 27px;
    }

    .catalog_wrapper, .advantages_catalog_wrapper, .catalog_wrapper_projects {
        height: 780px;
    }

    .catalog, .advantages_catalog, .catalog_bottom, .catalog_projects {
        height: 780px;
    }

    .product_wrapper, .advantages_wrapper, .product_wrapper_projects {
        height: 770px;
    }

    .side_block, .side_block_left, .side_block_right {
        width: 800px;
        height: 750px;
    }

    .catalog_content_block_right {
        top: 250px;
        right: 50px;
        margin-left: -340px;
    }

    .straight_side_block_right {
        width: 750px;
        right: 120px;
        top: 180px;
        height: 800px;
    }

    .straight_side_block_left {
        width: 600px;
    }

    .product_wrapper_projects {
        height: 675px;
    }

    .catalog_wrapper_projects {
        height: 675px;
    }

    .catalog_projects {
        height: 675px;
    }


    #footer_section #upper_title {
        margin-left: -115px;
    }
}


@media screen and (max-width: 1450px) {

    .overlay-navigation nav ul li a {
        font-size: 1.1em;
    }

    .overlay-navigation nav li a::before {
        width: 45px;
    }

    .header_side_block {
        width: 400px;
    }

    .overlay-navigation nav ul {
        background-image: url("../img/main_img/3.jpg");
      }

    h2 {
        font-size: 2.3em;
    }

    p {
        font-size: 1.3em;
    }

    a.btn_page {
        font-size: 1.5em;
    }

    .title_section, .straight_title, .right_title {
        height: 140px;
        padding-top: 50px;
    }

    .right_title {
        height: 140px;
        padding-top: 28px;
    }

    .catalog_wrapper, .advantages_catalog_wrapper, .catalog_wrapper_projects {
        height: 730px;
    }

    .catalog, .advantages_catalog, .catalog_bottom, .catalog_projects {
        height: 730px;
    }

    .product_wrapper, .advantages_wrapper, .product_wrapper_projects {
        height: 720px;
    }

    .side_block, .side_block_left, .side_block_right {
        width: 730px;
        height: 700px;
    }

    .catalog_content_block, .catalog_content_block_left, .catalog_content_block_right {
        max-width: 590px;
    }

    .catalog_content_block_right {
        top: 260px;
        right: 35px;
        margin-left: -340px;
    }

    .catalog_content_block_left {
        top: 250px;
        left: 35px;
        margin-right: -340px;
    }

    .straight_side_block_right {
        width: 700px;
        right: 25px;
        top: 135px;
        height: 550px;
    }

    .advantages_content {
        width: 700px;
    }

    .straight_side_block_left {
        width: 550px;
    }

    .product_wrapper_projects {
        height: 675px;
    }

    .catalog_wrapper_projects {
        height: 675px;
    }

    .catalog_projects {
        height: 675px;
    }


    #footer_section #upper_title {
        margin-left: -115px;
    }
}


@media screen and (max-width: 1300px) {

    .overlay-navigation nav ul {
        background-image: url("../img/main_img/4.jpg");
    }

    .side_block, .side_block_left, .side_block_right {
        width: 670px;
        height: 700px;
    }

    .catalog_content_block, .catalog_content_block_left, .catalog_content_block_right {
        max-width: 510px;
    }

    .straight_side_block_right {
        width: 600px;
        right: 25px;
        top: 135px;
        height: 550px;
    }

    .advantages_content {
        width: 600px;
    }

    #footer_section #upper_title {
        margin-left: -100px;
    }

}

@media screen and (max-width: 1150px) {

    h4 {
        font-size: 1.5em;
    }

    a.header_btn {
        border: 2px solid #000;
        font-size: 1.5em;
        margin-left: 20px;
        width: 150px;
    }

    .open-overlay {
        right: 5rem;
        top: -5px;
        width: 34px;
    }

    p {
        font-size: 1.1em;
    }

    .content_block p {
        font-size: 1.5em;
    }

    .advantages_content p {
        font-size: 1.1em;
    }

    .side_block, .side_block_left, .side_block_right {
        width: 670px;
        height: 700px;
    }

    .catalog_content_block, .catalog_content_block_left, .catalog_content_block_right {
        max-width: 450px;
    }

    .straight_side_block_right {
        width: 600px;
        right: 25px;
        top: 135px;
        height: 550px;
    }

    .advantages_content {
        width: 600px;
    }

    a.btn_page {
        font-size: 1.2em;
        width: 400px;
    }

    .straight_side_block_left {
        width: 490px;
    }

}


@media screen and (max-width: 1100px) {

    .overlay-navigation nav ul li a {
        font-size: 1em;
    }

    .overlay-navigation nav li a::before {
        width: 40px;
    }

    #menu_logo {
        background-image: url("../img/main_img/1_1.jpg");
    }

    h2 {
        font-size: 2.1em;
    }

    #menu_block .col-lg-5 {
        padding-top: 6px;
    }

    .overlay-navigation nav ul {
        background-image: url("../img/main_img/5.jpg");
    }

    #header_section {
        height: 700px;
    }

    .header_side_block img {
        margin: 80px auto;
    }

    .header_side_block {
        width: 350px;
    }

    .header_side_block p {
        font-size: 1em;
        width: 300px;
    }

    .title_section, .straight_title, .right_title {
        height: 120px;
        padding-top: 43px;
    }

    .right_title {
        height: 120px;
        padding-top: 20px;
    }

    .side_block, .side_block_left, .side_block_right {
        width: 550px;
        height: 700px;
    }

    .straight_side_block_left {
        width: 390px;
    }

    .catalog_content_block, .catalog_content_block_left, .catalog_content_block_right {
        max-width: 400px;
    }

    .catalog_content_block_right {
        top: 240px;
        right: 35px;
        margin-left: -340px;
    }

    .straight_side_block_right {
        width: 550px;
        right: 25px;
        top: 135px;
        height: 550px;
    }

    .advantages_content {
        width: 550px;
    }

}

@media screen and (max-width: 980px) {

    #menu_block .line {
        margin-top: 2px;
    }

    h2 {
        font-size: 1.9em;
    }

    .right_column {
        text-align: right;
        padding-right: 110px;
    }

    h4 {
        font-size: 1.3em;
    }

    a.header_btn {
        border: 2px solid #000;
        font-size: 1.3em;
        margin-left: 20px;
        width: 120px;
    }

    .open-overlay {
        right: 5rem;
        top: -3px;
        width: 30px;
    }

    .open-overlay span {
        margin-top: 10px;
    }

    .overlay-navigation nav ul {
        background-image: url("../img/main_img/6.jpg");
    }

    .header_side_block {
        width: 300px;
    }

    .header_side_block p {
        font-size: 1em;
        width: 250px;
    }

    .header_side_block .page_btn {
        margin: 50px auto;
        width: 250px;
        font-size: 1.2em;
    }

    .right_title .line {
        margin-top: -22px;
    }

    .right_title {
        height: 120px;
        padding-top: 24px;
    }

    .advantages_content p {
        font-size: 1em;
    }

    .straight_side_block_right {
        width: 500px;
    }

    .advantages_content {
        width: 500px;
    }

    #footer_section #upper_title {
        margin-left: -88px;
    }

}

@media screen and (max-width: 960px) {

    .product_wrapper, .advantages_wrapper, .product_wrapper_projects {
        height: 950px;
    }

    .catalog_wrapper, .advantages_catalog_wrapper {
        height: 950px;
    }

    .catalog, .advantages_catalog, .catalog_projects {
        height: 950px;
    }

    .catalog_bottom {
        height: 700px;
    }

    #catalog_bottom {
        height: 700px;
    }

    #catalog_bottom .catalog_wrapper{
        height: 700px;
    }

    .catalog_wrapper_projects {
        height: 675px;
    }

    #catalog_projects, .catalog_projects {
        height: 675px;
    }

    #anchor_4 {
        height: 800px;
    }

    .advantages_catalog_wrapper {
        height: 800px;
    }

    .advantages_catalog {
        height: 800px;
    }

    .straight_side_block_right {
        width: 400px;
        height: 590px;
        top: 130px;
    }

    .advantages_content {
        width: 400px;
    }

    .advantages_number {
        font-size: 5em;
        margin-top: 10px;
    }

    .side_block, .side_block_left, .side_block_right {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        width: 100%;
        height: 500px;
    }

    .catalog_content_block_right, .catalog_content_block_left {
        position: static;
        margin: 0 auto;
        margin-top: 550px;
    }

}

@media screen and (max-width: 900px) {
    #footer_section a.header_btn {
        margin-left: 0;
    }
}

@media screen and (max-width: 830px) {

    #menu_block {
        padding-top: 26px;
    }

    #menu_block h2 {
        margin-left: 70px;
    }

    h2 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.2em;
    }

    a.header_btn {
        border: 2px solid #000;
        font-size: 1.1em;
        margin-left: 20px;
        width: 120px;
    }

    .open-overlay {
        right: 5rem;
        top: -5px;
        width: 30px;
    }

    .title_section, .straight_title, .right_title {
        height: 120px;
        padding-top: 48px;
    }

    .right_title {
        height: 120px;
        padding-top: 28px;
    }

    #catalog_bottom {
        height: 610px;
    }

    .catalog_bottom {
        background-image: url("../img/product_section/src/5_1.jpg");
        height: 520px;
    }

    #catalog_bottom .catalog_wrapper {
        height: 520px;
    }

    #catalog_bottom {
        height: 520px;
    }

    .content_block {
        margin-left: -300px;
        width: 600px;
        height: 190px;
        margin-top: -60px
    }

    .catalog_projects {
        background-image: url("../img/product_section/src/3_1.png");
        background-position: center center;
        background-repeat: no-repeat;
        height: 290px;
        margin-top: 60px;
    }

    #catalog_projects, .catalog_projects {
        height: 405px;
    }

    .catalog_wrapper_projects {
        height: 405px;
    }

    #anchor_4 {
        height: 1000px;
    }

    .advantages_catalog {
        height: 1000px;
    }

    .straight_side_block_left {
        background-image: url("../img/product_section/src/3_1.png");
        width: 830px;
        height: 290px;
        margin-top: 55px;
        position: absolute;
        -webkit-transition: all 2s;
        transition: all 2s;
    }

    .straight_side_block_right {
        position: static;
        margin: 0 auto;
        margin-top: 350px;
    }

    #footer_section #upper_title {
        font-size: 2.4em;
        margin-left: -110px;
    }

    .input {
        margin-bottom: 50px;
    }

    #footer_section .developers a.arrow_top {
        font-size: 2.2em;
        width: 45px;
        height: 45px;
    }

    a.icon_circle {
        font-size: 1.8em;
        padding-top: 11px;
        margin-left: 50px;
        margin-right: 50px;
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 767px) {

    #menu_block {
        height: 70px;
        padding-top: 16px;
    }

    .open-overlay {
        top: -4px;
    }

    .header_section_wrapper {
        padding-top: 70px;
    }

    #header_section {
        height: 600px;
    }

    .right_column {
        display: none;
    }

    #header_side_block {
        display: none;
    }

    #header_hidden_block {
        display: block;
        margin: 0 auto;
        margin-top: 100px;
    }

    a.page_btn {
        font-size: 1em;
        width: 200px;
        left: 50%;
        margin-left: -100px;
        bottom: -17px;
        padding: 10px 10px;
    }

    a.icon_circle {
        font-size: 1.8em;
        padding-top: 11px;
        margin-left: 30px;
        margin-right: 30px;
        width: 60px;
        height: 60px;
    }

}

@media screen and (max-width: 640px) {

    .overlay-navigation nav ul li a {
        font-size: 1.2em;
    }

    .overlay-navigation nav li a::before {
        width: 80px;
    }

    #menu_logo {
        background-image: none;
    }


}

@media screen and (max-width: 600px) {

    .side_block_left {
        background-image: url("../img/product_section/src/1_1.jpg");
    }

    .side_block_right {
        background-image: url("../img/product_section/src/2_1.jpg");
    }

    #left_block_bottom.side_block_left {
        background-image: url("../img/product_section/src/3_1.jpg");
    }

    .content_block {
        margin-left: -150px;
        width: 300px;
        height: 150px;
        margin-top: -50px;
        padding: 40px;
    }

    .overlay-navigation nav ul {
        background-image: url("../img/main_img/8.jpg");
    }

    .content_block p {
        font-size: 1.2em;
    }

    a.icon_circle {
        font-size: 1.8em;
        padding-top: 6px;
        margin-left: 25px;
        margin-right: 25px;
        width: 50px;
        height: 50px;
    }

    #footer_section #hidden_title {
        color: #f9debf;
        font-size: 4em;
        position: absolute;
        left: 50%;
        top: 65px;
        margin-left: -188px;
        z-index: 1;
    }

}

@media screen and (max-width: 500px) {

    .open-overlay {
        right: 2rem;
        top: -7px;
        width: 30px;
    }

    .line {
        width: 50px;
        margin-right: 100px;
    }

    h2 {
        font-size: 1.3em;
        margin-left: 70px;
    }

    p {
        font-size: 1em;
    }

    a.btn_page {
        font-size: 1em;
        width: 350px;
    }

    .catalog_content_block_right, .catalog_content_block_left {
        width: 350px;
        margin-top: 570px;
    }

    .title_section, .straight_title {
        height: 120px;
        padding-top: 50px;
    }

   .right_title {
        height: 120px;
        padding-top: 29px;
    }

    #footer_section {
        padding-left: 50px;
        padding-right: 50px;
    }

    #footer_section a.header_btn {
        font-size: 1.5em;
        width: 300px;
    }

    
}

@media screen and (max-width: 450px) {

    .overlay-navigation nav ul {
        background-image: url("../img/main_img/9.jpg");
    }

    overlay-navigation nav ul li a {
        font-size: 1.1em;
    }

    .overlay-navigation nav li a::before {
        width: 60px;
    }

    .line {
        top: 50px;
        left: 0;
    }

    #menu_block .line {
        margin-top: -35px;
    }

    .title_section, .straight_title {
        height: 120px;
        padding-top: 40px;
    }

    .right_title .line {
        margin-top: -12px;
    }

    .straight_side_block_right {
        width: 100%;
        height: 590px;
        top: 130px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .advantages_content {
        width: 100%;
    }

    .catalog_content_block_right, .catalog_content_block_left {
        width:100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 570px;
    }

    #modals-section .header_btn {
        font-size: 1.3em;
        width: 260px;
    }

    a.carousel_btn {
        font-size: 1.1em;
        padding: 3px 15px;
    }

}

@media screen and (max-width: 410px) {

    .overlay-navigation nav ul {
        background-image: url("../img/main_img/7.jpg");
    }

    .overlay-navigation nav ul li a {
        font-size: 1em;
    }

    .overlay-navigation nav li a::before {
        width: 60px;
    }

    a.btn_page {
        font-size: 1em;
        width: 323px;
        letter-spacing: 1rem;
    }

    a.icon_circle {
        font-size: 1.8em;
        padding-top: 6px;
        margin-left: 15px;
        margin-right: 15px;
        width: 50px;
        height: 50px;
    }

    #footer_section .btn_wrapper {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    #footer_section a.header_btn {
        font-size: 1.3em;
        width: 250px;
    }

    #footer_section #hidden_title {
        font-size: 3.4em;
        top: 65px;
        margin-left: -159px;
    }

}

@media screen and (max-width: 360px) {

    #header_hidden_block {
        margin-top: 120px;
    }

    .catalog_content_block_right, .catalog_content_block_left {
        padding-left: 25px;
        padding-right: 25px;
    }

    a.btn_page {
        font-size: .92em;
        width: 300px;
        letter-spacing: 1rem;
    }

    .straight_side_block_right {
        padding-top: 15px;
    }

    .advantages_number {
        margin-right: 20px;
    }

    /* .advantages_content p {
        font-size: .95em;
    } */

    a.icon_circle {
        font-size: 1.8em;
        padding-top: 6px;
        margin-left: 15px;
        margin-right: 15px;
        width: 50px;
        height: 50px;
    }

    #footer_section a.header_btn {
        font-size: 1.3em;
        width: 234px;
    }

    #footer_section p {
        margin-left: 0;
    }

}

@media screen and (max-width: 340px) {

    .overlay-navigation nav ul {
        background-image: url("../img/main_img/10.jpg");
    }

    #header_hidden_block {
        margin-top: 50px;
    }

    .catalog_content_block_right, .catalog_content_block_left {
        margin-top: 550px;
    }

    a.btn_page {
        font-size: .9em;
        width: 260px;
        letter-spacing: .7rem;
        margin-top: 40px
    }

    .advantages_number {
        margin-right: 12px;
    }

    .advantages_content p {
        font-size: .9em;
        margin-top: -2px;
    }

}
